/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

li{
    margin-top: 20px;
    margin-left: 10px;
}

/* Tag */
nav{
    background-color: white;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

/* Libreria */
.fixed{
    position: fixed;
    left: 0;
    right: 0;
}
.flex{
    display: flex;
}

.js-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.al-it-center{
    align-items: center;
}
.margin-auto{
    margin: auto;
}
.mt-10{
    margin-top: 10px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.ml-10{
    margin-left: 10px;
}

.ml-30{
    margin-left: 30px;
}

.mr-10{
    margin-right: 10px;
}

.fs-20{
    font-size: 20px;
}

.fs-22{
    font-size: 22px;
}

.pt-10{
    padding-top: 10px;
}

.pb-10{
    padding-bottom: 10px;
}

.padding-top-50{
    padding-top: 50px;
}

.ta-center{
    text-align: center;
}

.ta-left{
    text-align: left;
}



.border{
    border: 1px solid gray;
}

.in-block{
    display: inline-block;
}

/* classi */
.nav-element{
    display: inline-block;
    margin: 10px 15px;
}

.nav-element > a{
    text-decoration: none;
    color: gray;
}

/* container da 1 a */
.container-1{
    background-color: rgb(169, 223, 245);
}

/* Box da 1 a */
.box-1{
    width: 50%;
}

.box-2{
    width: 50%;
}

.box-3{
    width: 50%;
}

.box-4{
    width: 50%;
    justify-content: space-between;
    align-items:stretch;
}

.box-5{
    width: 50%;
}

.box-6{
    width: 50%;
    margin-top: 50px;
}

/* Box da a a  */
.box-a{
    width: 40%;
}
.box-b{
    height: 400px;
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    position: relative;
}

.box-c{
    border: 1px solid gray;
    width: 28%;
}

.box-d{
    border: 1px solid gray;
    width: 28%;
}

.box-e{
    border: 1px solid gray;
    width: 28%;
}

.box-f{
    width: 100%;
}

.box-g{
    width: 60%;
}   

.box-h{
    width: 40%;
    margin-top: 70px;
}

.img-partner{
    width: 100%;  
}

/* Bottoni e icone */
.button-blue{
    background-color: rgb(61, 61, 244);
    padding: 10px 10px;
}

.button-blue > a{
    text-decoration: none;
    color: white;
}

.button-white{
    background-color: white;
    padding: 20px 20px;
    width: 50%;
}

.prova-gratis{
    margin-left: 5%;
    margin-right: 5%;
}

.icon{
    font-size: 40px;   
}

.fa-check{
    color: rgb(24, 170, 227);
    font: 18px;
}

.check-mens{
    border-radius: 50%;
    border: 3px solid blue;
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-right: 10px;
}

.check-ann{
    border-radius: 50%;
    border: 1px solid lightgrey;
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}

.price{
    font-size: 18px;
    font-weight: bold;
}

.period{
    color: gray;
}