/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

li{
    margin-top: 20px;
    margin-left: 10px;
    /* text-indent: -1em; */
}

/* Tag */
nav{
    background-color: white;
    line-height: 25px;
    z-index: 1;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

/* Libreria */
.h-650{
    height: 650px;
}

.w-50{
    width: 60%;
}
.fixed{
    position: fixed;
    left: 0;
    right: 0;
}
.flex{
    display: flex;
}

.js-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.al-it-center{
    align-items: center;
}

.al-it-start{
    align-items: start;
}

.wrap{
    flex-wrap: wrap ;
}
.margin-auto{
    margin: auto;
}
.mt-10{
    margin-top: 10px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

.mt-100{
    margin-top: 100px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.ml-10{
    margin-left: 10px;
}

.ml-30{
    margin-left: 30px;
}

.mr-10{
    margin-right: 10px;
}

.mr-30{
    margin-right: 30px;
}
.fs-20{
    font-size: 20px;
}

.fs-22{
    font-size: 22px;
}

.pt-10{
    padding-top: 10px;
}

.pb-10{
    padding-bottom: 10px;
}

.pb-100{
    padding-bottom: 100px;
}

.padding-top-50{
    padding-top: 50px;
}

.pt-100{
    padding-top: 100px;
}

.ta-center{
    text-align: center;
}

.ta-left{
    text-align: left;
}

.border{
    border: 1px solid gray;
}

.in-block{
    display: inline-block;
}

.bgc-acquamarine{
    background-color: aquamarine;
}

.bgc-brown{
    background-color: brown;
}

.bgc-blue{
    background-color: rgb(105, 105, 235);
}

.bgc-skyblue{
    background-color: skyblue;
}

.bgc-purple{
    background-color: rgb(118, 2, 118);
}

.bgc-red{
    background-color: red;
}

.bgc-yellow{
    background-color: yellow;
}

.bgc-lightgray{
    background-color: lightgray;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
/* classi */
.nav-element{
    display: inline-block;
    margin: 10px 15px;
}

.nav-element > a{
    text-decoration: none;
    color: gray;
}

.nav-element img {
    vertical-align: sub;
}

.nav-element:hover{
    text-decoration: underline;
    
}

/* container da 1 a */
.container-1{
    background-color: rgb(169, 223, 245);
}

/* Box da 1 a */
.box-1{
    width: 50%;
}

.box-2{
    width: 50%;
}

.box-3{
    width: 50%;
}

.box-4{
    width: 50%;
    justify-content: space-between;
    align-items:stretch;
}

.box-5{
    width: 50%;
}

.box-6{
    width: 50%;
    margin-top: 50px;
}

.box-7{
    width: 50%;

}

/* Box da a a  */
.box-a{
    width: 40%;
    left: 0;
}
.box-b{
    height: 400px;
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    top: 3px;
    left: 350px;
}

.box-c{
    border: 1px solid gray;
    width: 28%;
}

.box-d{
    border: 1px solid gray;
    width: 28%;
}

.box-e{
    border: 1px solid gray;
    width: 28%;
}

.box-f{
    width: 100%;
}

.box-g{
    width: 60%;
}   

.box-h{
    width: 40%;
    margin-top: 70px;
}

.box-i{
    width: 50%;
}

.box-l{
    width: 50%;
    flex-basis: content;
}

.box-cards{
    width: 30%;
    /* height: 300px; */
    /* background-color: red; */
    /* border: 2px solid black; */
    margin-top: 20px;
}

.box-grande{
    width: 99vw;
    /* background-color: red; */
    display: flex;
    /* border: 2px solid black; */
}

.box-medio{
    width: calc(100% / 3);
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
}

.box-piccolo{
    /* height: 50%; */
    width: 50%;
    /* background-color: coral; */
    /* border: 2px solid black; */
}

.img-partner{
    width: 100%;  
}

.img-1{
    width: 100%;
}

.img-2{
    width: 40%;
    /* padding: 50%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.img-2-a{
    width: 50%;
    /* padding: 50%; */
}

/* Bottoni e icone */
.button-blue{
    background-color: rgb(61, 61, 244);
    padding: 10px 10px;
}

.button-blue > a{
    text-decoration: none;
    color: white;
}

.button-white{
    background-color: white;
    padding: 20px 20px;
    width: 50%;
}

.button-white-2{
    background-color: white;
    padding: 10px 10px;
    width: 25%;
    text-align: center;
}

.button-white-2 a{
    text-decoration: none;
    color: black;
}

.prova-gratis{
    margin-left: 7%;
    margin-right: 7%;
}

.icon{
    font-size: 40px;   
}

.fa-check{
    color: rgb(24, 170, 227);
    font: 18px;
}

.check-mens{
    border-radius: 50%;
    border: 3px solid blue;
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-right: 10px;
}

.check-ann{
    border-radius: 50%;
    border: 1px solid lightgrey;
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}

.price{
    font-size: 18px;
    font-weight: bold;
}

.period{
    color: gray;
}