*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.nav-element{
    display: inline-block;
    margin: 10px 15px;
}